{% extends("base.html.twig") %}

{% block body %}
    {% include('@Sessiondemo/Default/header.html.twig') %}
    <div id="messages">
        {% include('@Sessiondemo/Default/messageList.html.twig') %}
    </div>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}